.angular-2-css-background {
                          color:#00b3ee;
                        }
 
                        h1 {
                           background:blueviolet ;
                            color: #ffffff;
                        }
 
                        span {
                          color: #e57c00;
                        }

